body {
	font-family: Helvetica, Arial, sans-serif;
	font-weight:100;
	font-size:17px;
	line-height:30px;
}

blockquote {
	font-family: Helvetica, Arial, sans-serif;
	font-style: italic !important;
	font-weight: 100;
	background-color: #f3f3f3;
	padding:25px;
	margin: 2em 2em;
	border-left:3px solid #6e6e6e;
}
